body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  margin-bottom: 30px;
}

.link {
  margin: 20px;
}

input {
  max-width: 50%;
}

textarea {
  resize: none;
  margin-bottom: 10px;
  max-width: 50%;
}

.message {
  padding: 5px;
  border: solid 1px;
  border-radius: 8px;
  margin-bottom: 10px;
  max-width: 50%;
}

#messagebtn {
  margin-bottom: 10px;
}
